<!doctype html>
<html>
  <head>
    <title>Attendance</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <!-- 🔴 Logout -->
    <a href="/logout" class="logout-btn">Logout</a>

    <!-- 🏫 HEADER -->
    <div class="header">
      <h1>VIDYA VATIKA PUBLIC SCHOOL</h1>
      <p>Student Attendance System</p>
    </div>

    <!-- 👤 Welcome -->
    <h3 class="welcome">Welcome, {{ session['user'] }}</h3>

    <!-- 📊 Actions -->
    <div class="top-actions">
      <a href="/report">
        <button class="submit-btn">View Report</button>
      </a>
    </div>

    <!-- 📊 Stats -->
    <div class="stats">
      <div class="box">Total Students: {{ total }}</div>
    </div>

    <!-- 📋 FORM -->
    <form action="/submit" method="post">
      {% for student in students %}
      <div class="card">
        <b>{{ student.name }}</b><br /><br />

        <label>
          <input
            type="radio"
            name="{{ student.roll }}"
            value="Present"
            required
          />
          Present
        </label>

        <label style="margin-left: 20px">
          <input type="radio" name="{{ student.roll }}" value="Absent" />
          Absent
        </label>
      </div>
      {% endfor %}

      <button class="submit-btn">Submit Attendance</button>
    </form>
  </body>
</html>
