<!doctype html>
<html>
  <head>
    <title>Report</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <a href="/dashboard">Back</a>

    <h2 style="text-align: center">Attendance Report</h2>

    <canvas id="myChart"></canvas>

    <table border="1" style="margin: auto">
      <tr>
        <th>Name</th>
        <th>Present</th>
        <th>Absent</th>
      </tr>

      {% for name, data in report.items() %}
      <tr>
        <td>{{ name }}</td>
        <td>{{ data.present }}</td>
        <td>{{ data.absent }}</td>
      </tr>
      {% endfor %}
    </table>

    <script>
      const labels = [{% for name in report.keys() %}"{{ name }}",{% endfor %}];
      const presentData = [{% for data in report.values() %}{{ data.present }},{% endfor %}];
      const absentData = [{% for data in report.values() %}{{ data.absent }},{% endfor %}];

      new Chart(document.getElementById("myChart"), {
          type: "bar",
          data: {
              labels: labels,
              datasets: [
                  {
                      label: "Present",
                      data: presentData,
                      backgroundColor: "green"
                  },
                  {
                      label: "Absent",
                      data: absentData,
                      backgroundColor: "red"
                  }
              ]
          }
      });
    </script>
  </body>
</html>
